* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.body {
    font-family: 'Roboto';
    background-color: #000000;
}
@font-face {
    font-family: 'ElectronicArtsDisplay';
    src: url(/assets/fonts/display/ElectronicArtsDisplay-Regular.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ElectronicArtsDisplay';
    src: url(/assets/fonts/display/ElectronicArtsDisplay-Bold.woff2) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ElectronicArtsText';
    src: url(/assets/fonts/text/ElectronicArtsText-Light.woff2) format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ElectronicArtsText';
    src: url(/assets/fonts/text/ElectronicArtsText-LightItalic.woff2) format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'ElectronicArtsText';
    src: url(/assets/fonts/text/ElectronicArtsText-Regular.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ElectronicArtsText';
    src: url(/assets/fonts/text/ElectronicArtsText-Italic.woff2) format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'ElectronicArtsText';
    src: url(/assets/fonts/text/ElectronicArtsText-Bold.woff2) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ElectronicArtsText';
    src: url(/assets/fonts/text/ElectronicArtsText-BoldItalic.woff2) format('woff');
    font-weight: 600;
    font-style: italic;
}
.cls-1 {
    fill:none;
}
.cls-2 {
    clip-path:url(#clippath);
}
/* buat 3 titik */
.showLeft {
    background-color: white ;
    border: 1px solid white !important;
    text-shadow: white !important;
    color: black !important;
    padding: 10px;
}
.icons li {
    background: none repeat scroll 0 0 black;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius: 50%;
    pointer-events: none;
}
.btn-left {
    left: 0.4em;
}
.btn-right {
    right: 0.4em;
} 
.btn-left,.btn-right {
    position: absolute;
    top: 3.50em;
}
.dropbtn1 {
    background-color: #000000;
    position: absolute;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown1 {
    position: absolute;
    display: inline-block;
    right: 0.4em;
}
.dropdown1-content {
    display: none;
    position: relative;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown1-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  
.dropdown1 a:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    margin-left: 35px;
}
  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    color: red;
}
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #818181;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
  /* Change the color of links on hover */
.topnav a:hover {
    color: white;
}
.bar-menu {
    background-color:rgb(255, 255, 255);
}
/*isi Galery*/
h1 {
    color: rgb(62, 0, 82);
    text-align: center;
    border: 5px solid rgb(123, 25, 87);
    border-radius: 2px;
    background-color: burlywood;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    border: 5px dotted rgb(162, 30, 30);
    border-radius: 5px;
}  
  /* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    border: 5px dotted rgb(214, 91, 91);
    border-radius: 5px;
} 
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 5px dotted rgb(91, 12, 12);
    border-radius: 5px;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
    flex: 50%;
    max-width: 50%;
}
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    flex: 100%;
    max-width: 100%;
}
}
/*footer*/
